@font-face {
	font-family: "Titilium Web";  
	src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
}

@font-face {
	font-family: "Titilium Web";
	src: url("../fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
	font-style: normal; 
	font-weight: 400;
}
	 
@font-face {
	font-family: "Titilium Web";
	src: url("../fonts/TitilliumWeb-Bold.ttf") format("truetype");
	font-style: normal; 
	font-weight: 600;
}

@font-face {
	font-family: "Myriad Pro";
	src: url("../fonts/MyriadPro-Regular.ttf") format("truetype");
	font-style: normal; 
	font-weight: 400;
}